body {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.boardGrid {
    display: grid;
    grid-template-columns: 250px 250px 250px; /* Creates three equal-width columns */
    grid-template-rows: 250px 250px 250px; /* Creates three rows with automatic height */
    border: 12px solid black;
}

/* Style individual grid items */
.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    text-align: baseline;
    font-size: 80px;
    width: 248px;
    height: 248px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.gridItem:hover {
    animation: scaleBounce 0.6s;
}

@keyframes scaleBounce {
    0%, 100% {
        transform: scale(1);
    }
     50% {
        transform: scale(1.1);
    }
}

.activePlayer {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.gameMessage {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
}